[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
argcomplete = "*"
nodup = {file = "dist/nodup-1.1.0-py3-none-any.whl"}

[dev-packages]
setuptools = "*"
wheel = "*"
